<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="query">

	<select id="runSys" resultType="String" parameterType="int">
		SELECT COUNT(*) 
		FROM v_azy_temp_hum
		<where>
			collectTime
			<if test="_parameter==1">
				IS NOT NULL
			</if>
			<if test="_parameter==2">
				IS NOT NULL
			</if>
			<if test="_parameter==3">
				IS NOT NULL
			</if>
		</where>
	</select>

</mapper>